/* Custom CSS File for Buyers to Modify */

/* Place "Alugar" and "Comprar" buttons inside the keyword search field */

.rh-ultra-search-form .rh_keyword_field_wrapper {
    position: relative;
    padding-top: 50px; /* provide space for the buttons */
}

.rh-ultra-search-form .rh_status_field_wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    z-index: 2;
}
