openapi: 3.0.3
info:
  title: Academia da Comunicação API
  version: 1.0.0
  description: |
    OpenAPI specification for the Academia da Comunicação platform.
    Provides REST endpoints under the `/qc/v1` namespace for managing
    educational content, assessments, challenges, subscriptions, and user progress.
  x-projectStatus:
    androidApkReadinessPercent: 72
    lastUpdated: 2024-06-14
    notes: >-
      Execução dos testes end-to-end das cobranças Pix com QR Code dinâmico, revisão das telas de
      histórico no dashboard e criação dos payloads de seed publicados em docs/examples para refletir os fluxos documentados.
externalDocs:
  description: Mega resumo para orientar geração via Codex
  url: ./mega-resumo-codex.md
servers:
  - url: https://api.academiadacomunicacao.com/qc/v1
    description: Production server
  - url: https://staging.api.academiadacomunicacao.com/qc/v1
    description: Staging server
  - url: http://localhost:1337/qc/v1
    description: Local development server (Strapi)
security:
  - bearerAuth: []
tags:
  - name: Catalogos
  - name: Questoes
  - name: Filtros
  - name: Cadernos
  - name: Simulados
  - name: Desafios
  - name: Metas
  - name: Mentorias
  - name: Agenda
  - name: Cursos
  - name: Assinaturas
  - name: Notificacoes
  - name: Biblioteca
  - name: Autenticacao
  - name: Usuarios
  - name: Comunidade
  - name: Suporte
  - name: Relatorios
  - name: Webhooks
  - name: Nps
paths:
  /auth/login:
    post:
      tags: [Autenticacao]
      summary: Realiza login com credenciais do painel ou app.
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthLoginInput'
            examples:
              default:
                $ref: '#/components/examples/AuthLoginInput'
      responses:
        '200':
          description: Login bem-sucedido retornando tokens de acesso e refresh.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthLoginResponse'
              examples:
                default:
                  $ref: '#/components/examples/AuthLoginResponse'
        '401':
          description: Credenciais inválidas.
  /auth/refresh:
    post:
      tags: [Autenticacao]
      summary: Emite novo token de acesso a partir de refresh token válido.
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRefreshInput'
      responses:
        '200':
          description: Tokens atualizados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthRefreshResponse'
              examples:
                default:
                  $ref: '#/components/examples/AuthRefreshResponse'
        '401':
          description: Refresh token expirado ou revogado.
  /auth/logout:
    post:
      tags: [Autenticacao]
      summary: Revoga tokens ativos do usuário autenticado.
      operationId: logout
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthLogoutInput'
      responses:
        '204':
          description: Logout realizado com sucesso.
  /catalogos:
    get:
      tags: [Catalogos]
      summary: Recupera catálogos de referência.
      operationId: listCatalogos
      description: |
        Retorna catálogos agregados contendo disciplinas, assuntos, bancas, cargos e concursos
        para alimentar filtros no app.
      responses:
        '200':
          description: Catálogos recuperados com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogosResponse'
  /questoes:
    get:
      tags: [Questoes]
      summary: Lista questões com paginação e filtros.
      operationId: listQuestoes
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - $ref: '#/components/parameters/SortParam'
        - name: disciplinaId
          in: query
          schema:
            type: string
        - name: assuntoIds
          in: query
          description: Lista de IDs de assuntos separados por vírgula.
          schema:
            type: string
        - name: bancaId
          in: query
          schema:
            type: string
        - name: concursoId
          in: query
          schema:
            type: string
        - name: dificuldade
          in: query
          schema:
            type: string
            enum: [facil, medio, dificil]
        - name: ano
          in: query
          schema:
            type: integer
        - name: tags
          in: query
          description: Tags separadas por vírgula.
          schema:
            type: string
      responses:
        '200':
          description: Lista paginada de questões.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedQuestoes'
              examples:
                default:
                  $ref: '#/components/examples/QuestaoListaPaginada'
    post:
      tags: [Questoes]
      summary: Cria uma nova questão.
      operationId: createQuestao
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestaoInput'
            examples:
              default:
                $ref: '#/components/examples/QuestaoInputCreate'
      responses:
        '201':
          description: Questão criada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Questao'
              examples:
                default:
                  $ref: '#/components/examples/QuestaoDetalhada'
  /questoes/import:
    post:
      tags: [Questoes]
      summary: Importa questões em lote.
      operationId: importQuestoes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                questoes:
                  type: array
                  items:
                    $ref: '#/components/schemas/QuestaoInput'
      responses:
        '202':
          description: Importação iniciada.
  /questoes/{id}:
    get:
      tags: [Questoes]
      summary: Recupera detalhes de uma questão.
      operationId: getQuestao
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Questão encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Questao'
              examples:
                default:
                  $ref: '#/components/examples/QuestaoDetalhada'
    patch:
      tags: [Questoes]
      summary: Atualiza parcialmente uma questão.
      operationId: updateQuestao
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestaoUpdate'
            examples:
              default:
                $ref: '#/components/examples/QuestaoInputCreate'
      responses:
        '200':
          description: Questão atualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Questao'
              examples:
                default:
                  $ref: '#/components/examples/QuestaoDetalhada'
    delete:
      tags: [Questoes]
      summary: Remove uma questão.
      operationId: deleteQuestao
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Questão removida com sucesso.
  /filtros:
    get:
      tags: [Filtros]
      summary: Lista filtros salvos do usuário.
      operationId: listFiltros
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Lista de filtros salvos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFiltros'
    post:
      tags: [Filtros]
      summary: Cria um filtro salvo.
      operationId: createFiltro
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FiltroSalvoInput'
      responses:
        '201':
          description: Filtro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltroSalvo'
  /filtros/{id}:
    delete:
      tags: [Filtros]
      summary: Remove um filtro salvo.
      operationId: deleteFiltro
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Filtro removido.
  /cadernos:
    get:
      tags: [Cadernos]
      summary: Lista cadernos do usuário.
      operationId: listCadernos
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Lista de cadernos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCadernos'
              examples:
                default:
                  $ref: '#/components/examples/CadernoListaPaginada'
    post:
      tags: [Cadernos]
      summary: Cria um novo caderno.
      operationId: createCaderno
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CadernoInput'
            examples:
              default:
                $ref: '#/components/examples/CadernoInputOffline'
      responses:
        '201':
          description: Caderno criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Caderno'
              examples:
                default:
                  $ref: '#/components/examples/CadernoOfflineFavoritos'
  /cadernos/{id}:
    get:
      tags: [Cadernos]
      summary: Recupera um caderno específico.
      operationId: getCaderno
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Caderno recuperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Caderno'
              examples:
                default:
                  $ref: '#/components/examples/CadernoOfflineFavoritos'
    patch:
      tags: [Cadernos]
      summary: Atualiza um caderno.
      operationId: updateCaderno
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CadernoUpdate'
            examples:
              default:
                $ref: '#/components/examples/CadernoInputOffline'
      responses:
        '200':
          description: Caderno atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Caderno'
              examples:
                default:
                  $ref: '#/components/examples/CadernoOfflineFavoritos'
    delete:
      tags: [Cadernos]
      summary: Remove um caderno.
      operationId: deleteCaderno
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Caderno removido.
  /simulados:
    get:
      tags: [Simulados]
      summary: Lista simulados do usuário.
      operationId: listSimulados
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Lista de simulados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSimulados'
              examples:
                default:
                  $ref: '#/components/examples/SimuladoListaPaginada'
    post:
      tags: [Simulados]
      summary: Cria um simulado personalizado.
      operationId: createSimulado
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimuladoInput'
            examples:
              default:
                $ref: '#/components/examples/SimuladoInputExpress'
      responses:
        '201':
          description: Simulado criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Simulado'
              examples:
                default:
                  $ref: '#/components/examples/SimuladoExpressAtivo'
  /simulados/gerar:
    post:
      tags: [Simulados]
      summary: Gera um simulado express automaticamente.
      operationId: generateSimuladoExpress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimuladoExpressRequest'
      responses:
        '201':
          description: Simulado gerado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Simulado'
              examples:
                default:
                  $ref: '#/components/examples/SimuladoExpressAtivo'
  /simulados/{id}:
    get:
      tags: [Simulados]
      summary: Recupera detalhes do simulado.
      operationId: getSimulado
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Simulado recuperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Simulado'
              examples:
                default:
                  $ref: '#/components/examples/SimuladoExpressAtivo'
    patch:
      tags: [Simulados]
      summary: Atualiza metadados do simulado.
      operationId: updateSimulado
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimuladoUpdate'
            examples:
              default:
                $ref: '#/components/examples/SimuladoInputExpress'
      responses:
        '200':
          description: Simulado atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Simulado'
              examples:
                default:
                  $ref: '#/components/examples/SimuladoExpressAtivo'
    delete:
      tags: [Simulados]
      summary: Remove um simulado.
      operationId: deleteSimulado
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Simulado removido.
  /simulados/{id}/responder:
    post:
      tags: [Simulados]
      summary: Envia respostas de um simulado.
      operationId: submitSimuladoResposta
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimuladoRespostaInput'
      responses:
        '200':
          description: Respostas processadas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimuladoResultado'
              examples:
                default:
                  $ref: '#/components/examples/SimuladoResultadoPosProva'
  /desafios:
    get:
      tags: [Desafios]
      summary: Lista desafios disponíveis.
      operationId: listDesafios
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Lista de desafios.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDesafios'
              examples:
                default:
                  $ref: '#/components/examples/DesafioListaPaginada'
    post:
      tags: [Desafios]
      summary: Cria um novo desafio.
      operationId: createDesafio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesafioInput'
            examples:
              default:
                $ref: '#/components/examples/DesafioInputGamificado'
      responses:
        '201':
          description: Desafio criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Desafio'
              examples:
                default:
                  $ref: '#/components/examples/DesafioGamificadoAtivo'
  /desafios/{id}:
    get:
      tags: [Desafios]
      summary: Recupera detalhes de um desafio.
      operationId: getDesafio
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Desafio recuperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Desafio'
              examples:
                default:
                  $ref: '#/components/examples/DesafioGamificadoAtivo'
    patch:
      tags: [Desafios]
      summary: Atualiza dados do desafio.
      operationId: updateDesafio
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesafioUpdate'
            examples:
              default:
                $ref: '#/components/examples/DesafioInputGamificado'
      responses:
        '200':
          description: Desafio atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Desafio'
              examples:
                default:
                  $ref: '#/components/examples/DesafioGamificadoAtivo'
    delete:
      tags: [Desafios]
      summary: Remove um desafio.
      operationId: deleteDesafio
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Desafio removido.
  /desafios/{id}/ranking:
    get:
      tags: [Desafios]
      summary: Obtém ranking do desafio.
      operationId: getDesafioRanking
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Ranking retornado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesafioRanking'
              examples:
                default:
                  $ref: '#/components/examples/DesafioRankingAtualizado'
  /metas:
    get:
      tags: [Metas]
      summary: Lista metas de estudo do usuário.
      operationId: listMetas
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Lista de metas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMetas'
              examples:
                default:
                  $ref: '#/components/examples/MetaListaPaginada'
    post:
      tags: [Metas]
      summary: Cria uma meta de estudo.
      operationId: createMeta
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaEstudoInput'
            examples:
              default:
                $ref: '#/components/examples/MetaInputGamificada'
      responses:
        '201':
          description: Meta criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaEstudo'
              examples:
                default:
                  $ref: '#/components/examples/MetaEstudosGamificada'
  /metas/{id}:
    get:
      tags: [Metas]
      summary: Recupera detalhes de uma meta.
      operationId: getMeta
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Meta recuperada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaEstudo'
              examples:
                default:
                  $ref: '#/components/examples/MetaEstudosGamificada'
    patch:
      tags: [Metas]
      summary: Atualiza uma meta.
      operationId: updateMeta
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetaEstudoUpdate'
            examples:
              default:
                $ref: '#/components/examples/MetaInputGamificada'
      responses:
        '200':
          description: Meta atualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaEstudo'
              examples:
                default:
                  $ref: '#/components/examples/MetaEstudosGamificada'
    delete:
      tags: [Metas]
      summary: Remove uma meta.
      operationId: deleteMeta
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Meta removida.
  /mentorias:
    get:
      tags: [Mentorias]
      summary: Lista mentorias guiadas disponíveis.
      operationId: listMentorias
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: mentorId
          in: query
          schema:
            type: string
          description: Filtra mentorias por mentor responsável.
        - name: status
          in: query
          schema:
            type: string
            enum: [rascunho, publicada, arquivada]
          description: Filtra mentorias por status de publicação.
      responses:
        '200':
          description: Lista paginada de mentorias.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMentorias'
              examples:
                default:
                  $ref: '#/components/examples/MentoriaListaPaginada'
    post:
      tags: [Mentorias]
      summary: Cria uma nova mentoria guiada.
      operationId: createMentoria
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MentoriaInput'
            examples:
              default:
                $ref: '#/components/examples/MentoriaInputCriacao'
      responses:
        '201':
          description: Mentoria criada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mentoria'
              examples:
                default:
                  $ref: '#/components/examples/MentoriaDetalhada'
  /mentorias/{id}:
    get:
      tags: [Mentorias]
      summary: Recupera detalhes de uma mentoria específica.
      operationId: getMentoria
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Mentoria recuperada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mentoria'
              examples:
                default:
                  $ref: '#/components/examples/MentoriaDetalhada'
    patch:
      tags: [Mentorias]
      summary: Atualiza campos de uma mentoria.
      operationId: updateMentoria
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MentoriaUpdate'
            examples:
              default:
                $ref: '#/components/examples/MentoriaInputCriacao'
      responses:
        '200':
          description: Mentoria atualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mentoria'
              examples:
                default:
                  $ref: '#/components/examples/MentoriaDetalhada'
    delete:
      tags: [Mentorias]
      summary: Arquiva uma mentoria.
      operationId: deleteMentoria
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Mentoria arquivada.
  /mentorias/{id}/slots:
    get:
      tags: [Mentorias]
      summary: Lista disponibilidade de horários da mentoria.
      operationId: listMentoriaSlots
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Slots cadastrados para a mentoria.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MentoriaSlot'
              examples:
                default:
                  $ref: '#/components/examples/MentoriaSlotsDisponiveis'
    post:
      tags: [Mentorias]
      summary: Cadastra um novo slot de mentoria.
      operationId: createMentoriaSlot
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MentoriaSlotInput'
            examples:
              default:
                $ref: '#/components/examples/MentoriaSlotInput'
      responses:
        '201':
          description: Slot criado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MentoriaSlot'
              examples:
                default:
                  $ref: '#/components/examples/MentoriaSlotAtualizado'
  /mentorias/{id}/slots/{slotId}:
    patch:
      tags: [Mentorias]
      summary: Atualiza status ou capacidade de um slot.
      operationId: updateMentoriaSlot
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - $ref: '#/components/parameters/MentoriaSlotIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MentoriaSlotUpdate'
            examples:
              default:
                $ref: '#/components/examples/MentoriaSlotAtualizado'
      responses:
        '200':
          description: Slot atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MentoriaSlot'
              examples:
                default:
                  $ref: '#/components/examples/MentoriaSlotAtualizado'
    delete:
      tags: [Mentorias]
      summary: Remove um slot da mentoria.
      operationId: deleteMentoriaSlot
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - $ref: '#/components/parameters/MentoriaSlotIdParam'
      responses:
        '204':
          description: Slot removido.
  /mentorias/{id}/agendamentos:
    get:
      tags: [Mentorias]
      summary: Lista agendamentos confirmados para a mentoria.
      operationId: listMentoriaAgendamentos
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [pendente, confirmado, concluido, cancelado]
          description: Filtra agendamentos por status atual.
      responses:
        '200':
          description: Agendamentos retornados.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MentoriaAgendamento'
              examples:
                default:
                  $ref: '#/components/examples/MentoriaAgendamentosLista'
    post:
      tags: [Mentorias]
      summary: Reserva um slot da mentoria para um aluno.
      operationId: createMentoriaAgendamento
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MentoriaAgendamentoInput'
            examples:
              default:
                $ref: '#/components/examples/MentoriaAgendamentoInput'
      responses:
        '201':
          description: Agendamento criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MentoriaAgendamento'
              examples:
                default:
                  $ref: '#/components/examples/MentoriaAgendamentoConfirmado'
  /mentorias/{id}/agendamentos/{agendamentoId}:
    patch:
      tags: [Mentorias]
      summary: Atualiza status de um agendamento.
      operationId: updateMentoriaAgendamento
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - $ref: '#/components/parameters/MentoriaAgendamentoIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MentoriaAgendamentoUpdate'
            examples:
              default:
                $ref: '#/components/examples/MentoriaAgendamentoConfirmado'
      responses:
        '200':
          description: Agendamento atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MentoriaAgendamento'
              examples:
                default:
                  $ref: '#/components/examples/MentoriaAgendamentoConfirmado'
    delete:
      tags: [Mentorias]
      summary: Cancela um agendamento da mentoria.
      operationId: deleteMentoriaAgendamento
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - $ref: '#/components/parameters/MentoriaAgendamentoIdParam'
      responses:
        '204':
          description: Agendamento cancelado.
  /agenda/lives:
    get:
      tags: [Agenda]
      summary: Lista lives e eventos síncronos agendados.
      operationId: listLives
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: periodo
          in: query
          schema:
            type: string
          description: Intervalo temporal filtrado (ex. `2024-06`).
        - name: status
          in: query
          schema:
            type: string
            enum: [rascunho, publicado, encerrado]
      responses:
        '200':
          description: Lista paginada de lives.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLives'
              examples:
                default:
                  $ref: '#/components/examples/AgendaLivesLista'
    post:
      tags: [Agenda]
      summary: Cria um novo evento ao vivo.
      operationId: createLive
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveEventoInput'
            examples:
              default:
                $ref: '#/components/examples/LiveEventoInput'
      responses:
        '201':
          description: Live criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEvento'
              examples:
                default:
                  $ref: '#/components/examples/LiveEventoDetalhe'
  /agenda/lives/{id}:
    get:
      tags: [Agenda]
      summary: Recupera detalhes de uma live específica.
      operationId: getLive
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Live retornada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEvento'
              examples:
                default:
                  $ref: '#/components/examples/LiveEventoDetalhe'
    patch:
      tags: [Agenda]
      summary: Atualiza uma live existente.
      operationId: updateLive
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveEventoUpdate'
            examples:
              default:
                $ref: '#/components/examples/LiveEventoInput'
      responses:
        '200':
          description: Live atualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveEvento'
              examples:
                default:
                  $ref: '#/components/examples/LiveEventoDetalhe'
    delete:
      tags: [Agenda]
      summary: Remove uma live da agenda.
      operationId: deleteLive
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Live removida.
  /agenda/lives/{id}/inscricoes:
    get:
      tags: [Agenda]
      summary: Lista inscrições de usuários para a live.
      operationId: listLiveInscricoes
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Inscrições retornadas.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LiveInscricao'
              examples:
                default:
                  $ref: '#/components/examples/LiveInscricoesLista'
    post:
      tags: [Agenda]
      summary: Registra inscrição de um usuário.
      operationId: createLiveInscricao
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveInscricaoInput'
            examples:
              default:
                $ref: '#/components/examples/LiveInscricaoInput'
      responses:
        '201':
          description: Inscrição confirmada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveInscricao'
              examples:
                default:
                  $ref: '#/components/examples/LiveInscricaoConfirmada'
  /agenda/lives/{id}/inscricoes/{inscricaoId}:
    patch:
      tags: [Agenda]
      summary: Atualiza status de inscrição em uma live.
      operationId: updateLiveInscricao
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - $ref: '#/components/parameters/LiveInscricaoIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveInscricaoUpdate'
            examples:
              default:
                $ref: '#/components/examples/LiveInscricaoConfirmada'
      responses:
        '200':
          description: Inscrição atualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveInscricao'
              examples:
                default:
                  $ref: '#/components/examples/LiveInscricaoConfirmada'
    delete:
      tags: [Agenda]
      summary: Cancela inscrição na live.
      operationId: deleteLiveInscricao
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - $ref: '#/components/parameters/LiveInscricaoIdParam'
      responses:
        '204':
          description: Inscrição cancelada.
  /cursos:
    get:
      tags: [Cursos]
      summary: Lista cursos disponíveis.
      operationId: listCursos
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: busca
          in: query
          schema:
            type: string
        - name: tags
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista de cursos.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCursos'
    post:
      tags: [Cursos]
      summary: Cria um curso.
      operationId: createCurso
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CursoInput'
      responses:
        '201':
          description: Curso criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Curso'
  /cursos/{id}:
    get:
      tags: [Cursos]
      summary: Recupera detalhes de um curso.
      operationId: getCurso
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Curso recuperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Curso'
    patch:
      tags: [Cursos]
      summary: Atualiza um curso.
      operationId: updateCurso
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CursoUpdate'
      responses:
        '200':
          description: Curso atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Curso'
    delete:
      tags: [Cursos]
      summary: Remove um curso.
      operationId: deleteCurso
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Curso removido.
  /cursos/{id}/aulas:
    get:
      tags: [Cursos]
      summary: Lista aulas de um curso.
      operationId: listAulasDoCurso
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Lista de aulas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAulas'
    post:
      tags: [Cursos]
      summary: Adiciona uma aula ao curso.
      operationId: createAulaNoCurso
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AulaInput'
      responses:
        '201':
          description: Aula criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aula'
  /cursos/{id}/aulas/{aulaId}:
    patch:
      tags: [Cursos]
      summary: Atualiza uma aula.
      operationId: updateAulaNoCurso
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - name: aulaId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AulaUpdate'
      responses:
        '200':
          description: Aula atualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aula'
    delete:
      tags: [Cursos]
      summary: Remove uma aula.
      operationId: deleteAulaNoCurso
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - name: aulaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Aula removida.
  /planos:
    get:
      tags: [Assinaturas]
      summary: Lista planos de assinatura disponíveis.
      operationId: listPlanos
      description: |-
        Retorna planos pagos ativos e Planos Grátis para Alunos. É possível filtrar
        por tipo e status de aprovação para que o time administrativo acompanhe o
        fluxo de liberações do super admin.
      parameters:
        - name: tipo
          in: query
          schema:
            type: string
            enum: [pago, gratis_aluno]
        - name: statusAprovacao
          in: query
          schema:
            type: string
            enum: [pendente, aprovado, rejeitado]
      responses:
        '200':
          description: Lista de planos.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plano'
              examples:
                default:
                  $ref: '#/components/examples/PlanosDisponiveis'
    post:
      tags: [Assinaturas]
      summary: Cria um plano de assinatura.
      operationId: createPlano
      description: |-
        Cria um plano pago tradicional ou um Plano Grátis para Alunos. Planos
        gratuitos entram automaticamente como `pendente` e requerem aprovação do
        super admin antes de serem exibidos no app.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanoInput'
            examples:
              PlanoPago:
                $ref: '#/components/examples/PlanoPagoInput'
              PlanoGratisAluno:
                $ref: '#/components/examples/PlanoGratisAlunoInput'
      responses:
        '201':
          description: Plano criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plano'
              examples:
                PlanoPago:
                  $ref: '#/components/examples/PlanoPagoCriado'
                PlanoGratisAluno:
                  $ref: '#/components/examples/PlanoGratisAlunoCriado'
  /planos/{id}:
    patch:
      tags: [Assinaturas]
      summary: Atualiza um plano de assinatura.
      operationId: updatePlano
      description: |-
        Permite edições realizadas pelo dashboard, incluindo ajustes de preço,
        benefícios e periodicidade. Alterações em Planos Grátis para Alunos não
        modificam automaticamente o status de aprovação.
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanoUpdate'
            examples:
              AjustePreco:
                $ref: '#/components/examples/PlanoAtualizacaoPreco'
      responses:
        '200':
          description: Plano atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plano'
              examples:
                PlanoPagoAtualizado:
                  $ref: '#/components/examples/PlanoPagoCriado'
    delete:
      tags: [Assinaturas]
      summary: Remove um plano de assinatura.
      operationId: deletePlano
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Plano removido.
  /planos/{id}/aprovar:
    post:
      tags: [Assinaturas]
      summary: Aprova um Plano Grátis para Alunos.
      operationId: approvePlanoGratis
      description: |-
        Ação exclusiva do super admin para liberar Planos Grátis para Alunos após
        revisão. Atualiza o status de aprovação para `aprovado` e registra o
        responsável.
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Plano aprovado e pronto para publicação.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plano'
              examples:
                PlanoGratisAlunoAprovado:
                  $ref: '#/components/examples/PlanoGratisAlunoAprovado'
        '409':
          description: Plano já aprovado ou não elegível para aprovação gratuita.
  /planos/dashboard:
    get:
      tags: [Assinaturas]
      summary: Consolida indicadores para o dashboard de planos.
      operationId: getPlanosDashboardResumo
      description: |-
        Reúne métricas de planos pagos e Planos Grátis para Alunos, incluindo
        histórico de preços e alterações recentes, para alimentar o painel de
        edições administrativas.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Resumo consolidado de planos para o dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanosDashboardResumo'
              examples:
                default:
                  $ref: '#/components/examples/PlanosDashboardResumo'
  /planos/{id}/preco:
    patch:
      tags: [Assinaturas]
      summary: Atualiza exclusivamente o preço de um plano.
      operationId: updatePlanoPreco
      description: |-
        Permite ajustes rápidos de preço realizados pelo dashboard, registrando
        quem realizou a alteração e mantendo o histórico para auditoria.
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanoPrecoUpdateInput'
            examples:
              default:
                $ref: '#/components/examples/PlanoPrecoUpdateInput'
      responses:
        '200':
          description: Plano atualizado com novo preço.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plano'
              examples:
                default:
                  $ref: '#/components/examples/PlanoPagoAtualizadoPreco'
  /assinaturas/minha:
    get:
      tags: [Assinaturas]
      summary: Recupera a assinatura ativa do usuário.
      operationId: getMinhaAssinatura
      responses:
        '200':
          description: Assinatura encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assinatura'
    post:
      tags: [Assinaturas]
      summary: Ativa ou atualiza a assinatura do usuário.
      operationId: createOuAtualizaMinhaAssinatura
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssinaturaInput'
      responses:
        '200':
          description: Assinatura ativada/atualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Assinatura'
    delete:
      tags: [Assinaturas]
      summary: Cancela a assinatura do usuário.
      operationId: cancelMinhaAssinatura
      responses:
        '204':
          description: Assinatura cancelada.
  /assinaturas/pix/cobrancas:
    post:
      tags: [Assinaturas]
      summary: Gera uma cobrança Pix para assinatura.
      operationId: gerarCobrancaPixAssinatura
      description: |-
        Emite uma cobrança Pix imediata para o plano escolhido retornando o código copia e
        cola, imagem/URL do QR Code e vencimento. A cobrança pode ser consultada
        posteriormente para sincronizar o status entre app e CMS.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixCobrancaInput'
            examples:
              default:
                $ref: '#/components/examples/PixCobrancaInput'
      responses:
        '201':
          description: Cobrança Pix gerada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobranca'
              examples:
                default:
                  $ref: '#/components/examples/PixCobrancaPendente'
  /assinaturas/pix/cobrancas/{cobrancaId}:
    get:
      tags: [Assinaturas]
      summary: Consulta status da cobrança Pix da assinatura.
      operationId: getCobrancaPixAssinatura
      parameters:
        - name: cobrancaId
          in: path
          required: true
          schema:
            type: string
          description: Identificador retornado na geração da cobrança Pix.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cobrança localizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixCobranca'
              examples:
                default:
                  $ref: '#/components/examples/PixCobrancaPago'
                expirado:
                  $ref: '#/components/examples/PixCobrancaExpirada'
  /assinaturas/pix/chave-principal:
    get:
      tags: [Assinaturas]
      summary: Recupera a chave Pix principal utilizada nas cobranças.
      operationId: getChavePixPrincipal
      description: >-
        Retorna a chave Pix oficial da Academia da Comunicação acompanhada do código
        copia e cola pronto para uso e do QR Code em Base64 para exibição imediata no
        app ou no dashboard.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Chave Pix principal retornada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PixChavePrincipal'
              examples:
                default:
                  $ref: '#/components/examples/PixChavePrincipal'
  /assinaturas:
    get:
      tags: [Assinaturas]
      summary: Lista assinaturas gerenciadas (admin).
      operationId: listAssinaturas
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Lista de assinaturas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAssinaturas'
              examples:
                default:
                  $ref: '#/components/examples/AssinaturasListaAdmin'
  /notificacoes/enviar:
    post:
      tags: [Notificacoes]
      summary: Agenda ou envia notificações e pesquisas NPS.
      operationId: enviarNotificacao
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificacaoInput'
      responses:
        '202':
          description: Notificação agendada ou enviada.
  /biblioteca/materiais:
    get:
      tags: [Biblioteca]
      summary: Lista materiais complementares com filtros contextuais.
      operationId: listMateriaisBiblioteca
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: formato
          in: query
          schema:
            type: string
            enum: [pdf, video, audio, checklist, modelo]
        - name: disciplinaId
          in: query
          schema:
            type: string
        - name: destaque
          in: query
          schema:
            type: boolean
        - name: tag
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Materiais recuperados com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMateriaisBiblioteca'
              examples:
                default:
                  $ref: '#/components/examples/BibliotecaMateriaisLista'
    post:
      tags: [Biblioteca]
      summary: Cadastra novo material complementar na biblioteca.
      operationId: createMaterialBiblioteca
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaterialBibliotecaInput'
            examples:
              default:
                $ref: '#/components/examples/MaterialBibliotecaInput'
      responses:
        '201':
          description: Material criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterialBiblioteca'
              examples:
                default:
                  $ref: '#/components/examples/MaterialBibliotecaDetalhe'
  /biblioteca/materiais/{id}:
    get:
      tags: [Biblioteca]
      summary: Recupera detalhes do material complementar.
      operationId: getMaterialBiblioteca
      parameters:
        - $ref: '#/components/parameters/MaterialBibliotecaIdParam'
      responses:
        '200':
          description: Material localizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterialBiblioteca'
              examples:
                default:
                  $ref: '#/components/examples/MaterialBibliotecaDetalhe'
    patch:
      tags: [Biblioteca]
      summary: Atualiza metadados ou arquivos do material.
      operationId: updateMaterialBiblioteca
      parameters:
        - $ref: '#/components/parameters/MaterialBibliotecaIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaterialBibliotecaUpdate'
            examples:
              default:
                $ref: '#/components/examples/MaterialBibliotecaAtualizacao'
      responses:
        '200':
          description: Material atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterialBiblioteca'
              examples:
                default:
                  $ref: '#/components/examples/MaterialBibliotecaDetalhe'
    delete:
      tags: [Biblioteca]
      summary: Arquiva ou remove material da biblioteca.
      operationId: deleteMaterialBiblioteca
      parameters:
        - $ref: '#/components/parameters/MaterialBibliotecaIdParam'
      responses:
        '204':
          description: Material removido.
  /nps/pesquisas:
    get:
      tags: [Nps]
      summary: Lista pesquisas NPS configuradas no CMS.
      operationId: listPesquisasNps
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: status
          in: query
          description: Filtra pesquisas pelo status atual.
          schema:
            type: string
            enum: [rascunho, agendada, ativa, encerrada]
        - name: contexto
          in: query
          description: "Identifica o fluxo onde a pesquisa é exibida (ex.: onboarding, dashboard, planos)."
          schema:
            type: string
      responses:
        '200':
          description: Lista de pesquisas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPesquisasNps'
              examples:
                default:
                  $ref: '#/components/examples/NpsPesquisasLista'
    post:
      tags: [Nps]
      summary: Cria nova pesquisa NPS.
      operationId: createPesquisaNps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NpsPesquisaInput'
            examples:
              default:
                $ref: '#/components/examples/NpsPesquisaCreate'
      responses:
        '201':
          description: Pesquisa criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NpsPesquisa'
  /nps/pesquisas/{id}:
    get:
      tags: [Nps]
      summary: Recupera detalhes da pesquisa.
      operationId: getPesquisaNps
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Pesquisa encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NpsPesquisa'
              examples:
                default:
                  $ref: '#/components/examples/NpsPesquisaDetalhe'
    patch:
      tags: [Nps]
      summary: Atualiza perguntas, janelas ou status da pesquisa.
      operationId: updatePesquisaNps
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NpsPesquisaUpdate'
            examples:
              default:
                $ref: '#/components/examples/NpsPesquisaUpdate'
      responses:
        '200':
          description: Pesquisa atualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NpsPesquisa'
    delete:
      tags: [Nps]
      summary: Arquiva uma pesquisa NPS.
      operationId: deletePesquisaNps
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Pesquisa removida.
  /nps/pesquisas/{id}/respostas:
    get:
      tags: [Nps]
      summary: Lista respostas coletadas para a pesquisa.
      operationId: listRespostasNps
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: nota
          in: query
          description: Filtra respostas por nota atribuída.
          schema:
            type: integer
            minimum: 0
            maximum: 10
      responses:
        '200':
          description: Respostas retornadas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRespostasNps'
              examples:
                default:
                  $ref: '#/components/examples/NpsRespostasLista'
  /nps/pesquisas/{id}/responder:
    post:
      tags: [Nps]
      summary: Submete resposta autenticada à pesquisa ativa.
      operationId: submitRespostaNps
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NpsRespostaInput'
            examples:
              default:
                $ref: '#/components/examples/NpsRespostaSubmit'
      responses:
        '201':
          description: Resposta registrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NpsResposta'
              examples:
                default:
                  $ref: '#/components/examples/NpsRespostaSubmitResponse'
  /nps/painel/resumo:
    get:
      tags: [Nps]
      summary: Consolida KPIs de NPS para o dashboard.
      operationId: getPainelNpsResumo
      parameters:
        - name: periodo
          in: query
          description: "Recorte temporal (ex.: 7d, 30d, 90d)."
          schema:
            type: string
        - name: contexto
          in: query
          description: Filtra KPIs por contexto de pesquisa.
          schema:
            type: string
      responses:
        '200':
          description: Indicadores consolidados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NpsPainelResumo'
              examples:
                default:
                  $ref: '#/components/examples/NpsPainelResumo'
  /comunidade/perguntas:
    get:
      tags: [Comunidade]
      summary: Lista perguntas da comunidade com indicadores de engajamento.
      operationId: listPerguntasComunidade
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: busca
          in: query
          description: Termo aplicado ao título, corpo ou tags.
          schema:
            type: string
        - name: disciplinaId
          in: query
          schema:
            type: string
        - name: tag
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [publicada, rascunho, arquivada]
      responses:
        '200':
          description: Perguntas recuperadas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPerguntasComunidade'
              examples:
                default:
                  $ref: '#/components/examples/ComunidadePerguntasLista'
    post:
      tags: [Comunidade]
      summary: Cria uma nova pergunta na comunidade.
      operationId: createPerguntaComunidade
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerguntaComunidadeInput'
            examples:
              default:
                $ref: '#/components/examples/ComunidadePerguntaCreate'
      responses:
        '201':
          description: Pergunta criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerguntaComunidade'
              examples:
                default:
                  $ref: '#/components/examples/ComunidadePerguntaDetalhada'
  /comunidade/perguntas/{id}:
    get:
      tags: [Comunidade]
      summary: Recupera detalhes de uma pergunta da comunidade.
      operationId: getPerguntaComunidade
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Pergunta recuperada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerguntaComunidade'
              examples:
                default:
                  $ref: '#/components/examples/ComunidadePerguntaDetalhada'
    patch:
      tags: [Comunidade]
      summary: Atualiza conteúdo ou moderação da pergunta.
      operationId: updatePerguntaComunidade
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PerguntaComunidadeUpdate'
            examples:
              default:
                $ref: '#/components/examples/ComunidadePerguntaUpdate'
      responses:
        '200':
          description: Pergunta atualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerguntaComunidade'
              examples:
                default:
                  $ref: '#/components/examples/ComunidadePerguntaDetalhada'
    delete:
      tags: [Comunidade]
      summary: Arquiva uma pergunta da comunidade.
      operationId: deletePerguntaComunidade
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Pergunta removida.
  /comunidade/perguntas/{id}/respostas:
    get:
      tags: [Comunidade]
      summary: Lista respostas vinculadas à pergunta.
      operationId: listRespostasPerguntaComunidade
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
      responses:
        '200':
          description: Respostas retornadas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRespostasComunidade'
              examples:
                default:
                  $ref: '#/components/examples/ComunidadeRespostasLista'
    post:
      tags: [Comunidade]
      summary: Adiciona uma resposta à pergunta.
      operationId: createRespostaPerguntaComunidade
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespostaComunidadeInput'
            examples:
              default:
                $ref: '#/components/examples/ComunidadeRespostaCreate'
      responses:
        '201':
          description: Resposta criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespostaComunidade'
              examples:
                default:
                  $ref: '#/components/examples/ComunidadeRespostaDetalhada'
  /comunidade/perguntas/{id}/respostas/{respostaId}:
    patch:
      tags: [Comunidade]
      summary: Atualiza uma resposta específica.
      operationId: updateRespostaPerguntaComunidade
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - name: respostaId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RespostaComunidadeUpdate'
            examples:
              default:
                $ref: '#/components/examples/ComunidadeRespostaUpdate'
      responses:
        '200':
          description: Resposta atualizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespostaComunidade'
              examples:
                default:
                  $ref: '#/components/examples/ComunidadeRespostaDetalhada'
    delete:
      tags: [Comunidade]
      summary: Remove uma resposta da pergunta.
      operationId: deleteRespostaPerguntaComunidade
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
        - name: respostaId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Resposta removida.
  /comunidade/perguntas/{id}/curtidas:
    post:
      tags: [Comunidade]
      summary: Registra uma curtida na pergunta.
      operationId: likePerguntaComunidade
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Curtida registrada.
    delete:
      tags: [Comunidade]
      summary: Remove a curtida do usuário na pergunta.
      operationId: unlikePerguntaComunidade
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '204':
          description: Curtida removida.
  /suporte/tickets:
    get:
      tags: [Suporte]
      summary: Lista tickets de suporte criados via app e CMS.
      operationId: listTicketsSuporte
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - name: status
          in: query
          schema:
            type: string
            enum: [aberto, em_andamento, resolvido, arquivado]
        - name: categoria
          in: query
          schema:
            type: string
        - name: prioridade
          in: query
          schema:
            type: string
            enum: [baixa, media, alta, critica]
      responses:
        '200':
          description: Tickets retornados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTicketsSuporte'
              examples:
                default:
                  $ref: '#/components/examples/SuporteTicketsLista'
    post:
      tags: [Suporte]
      summary: Abre um novo ticket de suporte.
      operationId: createTicketSuporte
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketSuporteInput'
            examples:
              default:
                $ref: '#/components/examples/SuporteTicketCreate'
      responses:
        '201':
          description: Ticket criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketSuporte'
              examples:
                default:
                  $ref: '#/components/examples/SuporteTicketAberto'
  /suporte/tickets/{id}:
    get:
      tags: [Suporte]
      summary: Recupera detalhes de um ticket.
      operationId: getTicketSuporte
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Ticket encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketSuporte'
              examples:
                default:
                  $ref: '#/components/examples/SuporteTicketAberto'
    patch:
      tags: [Suporte]
      summary: Atualiza status ou encaminhamento do ticket.
      operationId: updateTicketSuporte
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketSuporteUpdate'
            examples:
              default:
                $ref: '#/components/examples/SuporteTicketUpdate'
      responses:
        '200':
          description: Ticket atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketSuporte'
              examples:
                default:
                  $ref: '#/components/examples/SuporteTicketAberto'
  /suporte/tickets/{id}/interacoes:
    get:
      tags: [Suporte]
      summary: Retorna a linha do tempo de interações do ticket.
      operationId: listInteracoesTicketSuporte
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      responses:
        '200':
          description: Interações do ticket.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketInteracao'
              examples:
                default:
                  $ref: '#/components/examples/SuporteTicketTimeline'
    post:
      tags: [Suporte]
      summary: Adiciona uma nova interação ao ticket.
      operationId: createInteracaoTicketSuporte
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketInteracaoInput'
            examples:
              default:
                $ref: '#/components/examples/SuporteInteracaoCreate'
      responses:
        '201':
          description: Interação registrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketInteracao'
              examples:
                default:
                  $ref: '#/components/examples/SuporteInteracaoRegistro'
  /usuarios:
    get:
      tags: [Usuarios]
      summary: Lista usuários do ecossistema com filtros administrativos.
      operationId: listUsuarios
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/PageSizeParam'
        - $ref: '#/components/parameters/SortParam'
        - name: papel
          in: query
          description: Filtra por papel primário do usuário.
          schema:
            type: string
            enum: [aluno, tutor, editor, admin, suporte]
        - name: status
          in: query
          description: Filtra por status ativo/inativo.
          schema:
            type: string
            enum: [ativo, inativo]
        - name: busca
          in: query
          description: Termo livre aplicado a nome, email ou documento.
          schema:
            type: string
      responses:
        '200':
          description: Lista paginada de usuários.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsuarios'
              examples:
                default:
                  $ref: '#/components/examples/UsuarioLista'
    post:
      tags: [Usuarios]
      summary: Cria um usuário administrativo ou tutor.
      operationId: createUsuario
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsuarioCreateInput'
            examples:
              default:
                $ref: '#/components/examples/UsuarioCreateInput'
      responses:
        '201':
          description: Usuário criado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usuario'
              examples:
                default:
                  $ref: '#/components/examples/UsuarioDetalhe'
  /usuarios/{id}:
    get:
      tags: [Usuarios]
      summary: Recupera detalhes de um usuário específico.
      operationId: getUsuario
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Usuário encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usuario'
              examples:
                default:
                  $ref: '#/components/examples/UsuarioDetalhe'
    patch:
      tags: [Usuarios]
      summary: Atualiza parcialmente dados de um usuário.
      operationId: updateUsuario
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsuarioUpdateInput'
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Usuário atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usuario'
              examples:
                default:
                  $ref: '#/components/examples/UsuarioDetalhe'
    delete:
      tags: [Usuarios]
      summary: Arquiva ou remove um usuário.
      operationId: deleteUsuario
      parameters:
        - $ref: '#/components/parameters/ResourceIdParam'
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Usuário removido.
  /relatorios/progresso:
    get:
      tags: [Relatorios]
      summary: Consolida evolução de estudo por período.
      operationId: getRelatorioProgresso
      security:
        - bearerAuth: []
      parameters:
        - name: inicio
          in: query
          required: true
          description: Data inicial (ISO8601) para o recorte.
          schema:
            type: string
            format: date
        - name: fim
          in: query
          required: true
          description: Data final (ISO8601) para o recorte.
          schema:
            type: string
            format: date
        - name: usuarioId
          in: query
          description: Identificador do aluno para relatórios individuais.
          schema:
            type: string
        - name: cursoId
          in: query
          description: Filtra métricas para um curso específico.
          schema:
            type: string
      responses:
        '200':
          description: Relatório consolidado de progresso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelatorioProgresso'
              examples:
                default:
                  $ref: '#/components/examples/RelatorioProgressoResumo'
  /relatorios/engajamento:
    get:
      tags: [Relatorios]
      summary: Retorna indicadores de engajamento e monetização.
      operationId: getRelatorioEngajamento
      security:
        - bearerAuth: []
      parameters:
        - name: referencia
          in: query
          description: Mês de referência no formato AAAA-MM.
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
        - name: comparativoAnterior
          in: query
          description: Quando verdadeiro, inclui comparação com período anterior.
          schema:
            type: boolean
      responses:
        '200':
          description: Painel de engajamento consolidado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelatorioEngajamento'
              examples:
                default:
                  $ref: '#/components/examples/RelatorioEngajamentoResumo'
  /webhooks/pagamentos/pix:
    post:
      tags: [Webhooks]
      summary: Recebe notificações de pagamentos Pix.
      operationId: webhookPixPagamentos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookPixEvent'
            examples:
              default:
                $ref: '#/components/examples/WebhookPixPagamentoConfirmado'
      responses:
        '202':
          description: Notificação recebida para processamento assíncrono.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
      description: Número da página (baseado em 1).
    PageSizeParam:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Quantidade de itens por página.
    SortParam:
      name: sort
      in: query
      schema:
        type: string
      description: Campo e ordem de ordenação (ex. `ano:desc`).
    ResourceIdParam:
      name: id
      in: path
      required: true
      schema:
        type: string
    MentoriaSlotIdParam:
      name: slotId
      in: path
      required: true
      schema:
        type: string
    MentoriaAgendamentoIdParam:
      name: agendamentoId
      in: path
      required: true
      schema:
        type: string
    LiveInscricaoIdParam:
      name: inscricaoId
      in: path
      required: true
      schema:
        type: string
    MaterialBibliotecaIdParam:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    CatalogosResponse:
      type: object
      properties:
        disciplinas:
          type: array
          items:
            $ref: '#/components/schemas/Disciplina'
        assuntos:
          type: array
          items:
            $ref: '#/components/schemas/Assunto'
        bancas:
          type: array
          items:
            $ref: '#/components/schemas/Banca'
        cargos:
          type: array
          items:
            $ref: '#/components/schemas/Cargo'
        concursos:
          type: array
          items:
            $ref: '#/components/schemas/Concurso'
    Disciplina:
      type: object
      properties:
        id:
          type: string
        nome:
          type: string
        slug:
          type: string
    Assunto:
      type: object
      properties:
        id:
          type: string
        nome:
          type: string
        slug:
          type: string
        disciplinaId:
          type: string
        parentId:
          type: string
          nullable: true
    Banca:
      type: object
      properties:
        id:
          type: string
        nome:
          type: string
        sigla:
          type: string
    Cargo:
      type: object
      properties:
        id:
          type: string
        nome:
          type: string
        area:
          type: string
        nivel:
          type: string
    Concurso:
      type: object
      properties:
        id:
          type: string
        orgao:
          type: string
        uf:
          type: string
        bancaId:
          type: string
        cargos:
          type: array
          items:
            type: string
        dataProva:
          type: string
          format: date
        temporada:
          type: string
    QuestaoBase:
      type: object
      properties:
        enunciado:
          type: string
        alternativas:
          type: array
          minItems: 5
          maxItems: 5
          items:
            type: object
            properties:
              letra:
                type: string
              texto:
                type: string
        correta:
          type: string
          enum: [A, B, C, D, E]
        explicacao:
          type: string
        dificuldade:
          type: string
          enum: [facil, medio, dificil]
        ano:
          type: integer
        disciplinaId:
          type: string
        assuntoIds:
          type: array
          items:
            type: string
        bancaId:
          type: string
        concursoId:
          type: string
        tags:
          type: array
          items:
            type: string
        midia:
          type: array
          items:
            type: string
            format: uri
    Questao:
      allOf:
        - $ref: '#/components/schemas/QuestaoBase'
        - type: object
          properties:
            id:
              type: string
            estatisticas:
              $ref: '#/components/schemas/QuestaoEstatisticas'
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
    QuestaoInput:
      allOf:
        - $ref: '#/components/schemas/QuestaoBase'
        - type: object
          required:
            - enunciado
            - alternativas
            - correta
            - disciplinaId
    QuestaoUpdate:
      $ref: '#/components/schemas/QuestaoBase'
    QuestaoEstatisticas:
      type: object
      properties:
        acertos:
          type: integer
        erros:
          type: integer
        indiceDificuldade:
          type: number
          format: float
    PaginatedQuestoes:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Questao'
        pagination:
          $ref: '#/components/schemas/Pagination'
    FiltroSalvo:
      allOf:
        - $ref: '#/components/schemas/FiltroSalvoInput'
        - type: object
          properties:
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
    FiltroSalvoInput:
      type: object
      required:
        - nome
        - query
      properties:
        nome:
          type: string
        query:
          type: object
          additionalProperties: true
    PaginatedFiltros:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FiltroSalvo'
        pagination:
          $ref: '#/components/schemas/Pagination'
    CadernoBase:
      type: object
      properties:
        titulo:
          type: string
        questaoIds:
          type: array
          items:
            type: string
        offlineDisponivel:
          type: boolean
    Caderno:
      allOf:
        - $ref: '#/components/schemas/CadernoBase'
        - type: object
          properties:
            id:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
    CadernoInput:
      allOf:
        - $ref: '#/components/schemas/CadernoBase'
        - type: object
          required:
            - titulo
            - questaoIds
    CadernoUpdate:
      $ref: '#/components/schemas/CadernoBase'
    PaginatedCadernos:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Caderno'
        pagination:
          $ref: '#/components/schemas/Pagination'
    SimuladoBase:
      type: object
      properties:
        nome:
          type: string
        tipo:
          type: string
          enum: [express, manual]
        distribuicao:
          type: object
          additionalProperties: true
        dificuldade:
          type: string
          enum: [facil, medio, dificil, misto]
        bancaId:
          type: string
        numeroQuestoes:
          type: integer
        tempoMinutos:
          type: integer
    Simulado:
      allOf:
        - $ref: '#/components/schemas/SimuladoBase'
        - type: object
          properties:
            id:
              type: string
            questaoIds:
              type: array
              items:
                type: string
            status:
              type: string
              enum: [rascunho, ativo, encerrado]
            resultados:
              $ref: '#/components/schemas/SimuladoResultado'
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
    SimuladoInput:
      allOf:
        - $ref: '#/components/schemas/SimuladoBase'
        - type: object
          required:
            - nome
            - tipo
    SimuladoUpdate:
      $ref: '#/components/schemas/SimuladoBase'
    SimuladoExpressRequest:
      type: object
      required:
        - disciplinas
        - configuracao
      properties:
        disciplinas:
          type: array
          items:
            type: string
        configuracao:
          type: object
          properties:
            bancaId:
              type: string
            dificuldade:
              type: string
              enum: [facil, medio, dificil, misto]
            tempoMinutos:
              type: integer
    SimuladoRespostaInput:
      type: object
      required:
        - respostas
      properties:
        respostas:
          type: array
          items:
            type: object
            properties:
              questaoId:
                type: string
              alternativa:
                type: string
                enum: [A, B, C, D, E]
              tempoSegundos:
                type: integer
    SimuladoResultado:
      type: object
      properties:
        questoesRespondidas:
          type: integer
        acertos:
          type: integer
        erros:
          type: integer
        aproveitamento:
          type: number
          format: float
        rankingPosicao:
          type: integer
          nullable: true
    PaginatedSimulados:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Simulado'
        pagination:
          $ref: '#/components/schemas/Pagination'
    DesafioBase:
      type: object
      properties:
        nome:
          type: string
        descricao:
          type: string
        organizadorId:
          type: string
        regras:
          type: string
        inicio:
          type: string
          format: date-time
        fim:
          type: string
          format: date-time
        premios:
          type: string
        maxParticipantes:
          type: integer
    Desafio:
      allOf:
        - $ref: '#/components/schemas/DesafioBase'
        - type: object
          properties:
            id:
              type: string
            status:
              type: string
              enum: [rascunho, ativo, encerrado]
            participantes:
              type: array
              items:
                $ref: '#/components/schemas/DesafioParticipante'
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
    DesafioInput:
      allOf:
        - $ref: '#/components/schemas/DesafioBase'
        - type: object
          required:
            - nome
            - organizadorId
            - regras
            - inicio
            - fim
    DesafioUpdate:
      $ref: '#/components/schemas/DesafioBase'
    DesafioParticipante:
      type: object
      properties:
        userId:
          type: string
        apelido:
          type: string
        pontos:
          type: integer
    DesafioRanking:
      type: object
      properties:
        desafioId:
          type: string
        ranking:
          type: array
          items:
            $ref: '#/components/schemas/DesafioParticipante'
    PaginatedDesafios:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Desafio'
        pagination:
          $ref: '#/components/schemas/Pagination'
    MetaEstudoBase:
      type: object
      properties:
        tipo:
          type: string
          enum: [questoes, horas, acertos, rendimento]
        alvo:
          type: number
        janela:
          type: string
          enum: [diario, semanal, mensal]
        inicio:
          type: string
          format: date-time
        fim:
          type: string
          format: date-time
    MetaEstudo:
      allOf:
        - $ref: '#/components/schemas/MetaEstudoBase'
        - type: object
          properties:
            id:
              type: string
            progressoAtual:
              type: number
            status:
              type: string
              enum: [ativo, concluido, expirado]
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
    MetaEstudoInput:
      allOf:
        - $ref: '#/components/schemas/MetaEstudoBase'
        - type: object
          required:
            - tipo
            - alvo
            - janela
    MetaEstudoUpdate:
      $ref: '#/components/schemas/MetaEstudoBase'
    PaginatedMetas:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MetaEstudo'
        pagination:
          $ref: '#/components/schemas/Pagination'
    MentoriaBase:
      type: object
      properties:
        titulo:
          type: string
        descricao:
          type: string
        mentorId:
          type: string
        tags:
          type: array
          items:
            type: string
        modalidade:
          type: string
          enum: [online, presencial, hibrida]
        duracaoMinutos:
          type: integer
        publicoAlvo:
          type: string
        status:
          type: string
          enum: [rascunho, publicada, arquivada]
    Mentoria:
      allOf:
        - $ref: '#/components/schemas/MentoriaBase'
        - type: object
          properties:
            id:
              type: string
            slots:
              type: array
              items:
                $ref: '#/components/schemas/MentoriaSlot'
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
    MentoriaInput:
      allOf:
        - $ref: '#/components/schemas/MentoriaBase'
        - type: object
          required:
            - titulo
            - mentorId
            - duracaoMinutos
            - modalidade
    MentoriaUpdate:
      $ref: '#/components/schemas/MentoriaBase'
    MentoriaSlot:
      type: object
      properties:
        id:
          type: string
        inicio:
          type: string
          format: date-time
        fim:
          type: string
          format: date-time
        capacidade:
          type: integer
        inscritosAtuais:
          type: integer
        status:
          type: string
          enum: [disponivel, cheio, bloqueado, cancelado]
    MentoriaSlotInput:
      type: object
      required:
        - inicio
        - fim
        - capacidade
      properties:
        inicio:
          type: string
          format: date-time
        fim:
          type: string
          format: date-time
        capacidade:
          type: integer
    MentoriaSlotUpdate:
      type: object
      properties:
        capacidade:
          type: integer
        status:
          type: string
          enum: [disponivel, cheio, bloqueado, cancelado]
    MentoriaAgendamento:
      type: object
      properties:
        id:
          type: string
        slotId:
          type: string
        userId:
          type: string
        status:
          type: string
          enum: [pendente, confirmado, concluido, cancelado]
        notas:
          type: string
        criadoEm:
          type: string
          format: date-time
        atualizadoEm:
          type: string
          format: date-time
    MentoriaAgendamentoInput:
      type: object
      required:
        - slotId
        - userId
      properties:
        slotId:
          type: string
        userId:
          type: string
        notas:
          type: string
    MentoriaAgendamentoUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [pendente, confirmado, concluido, cancelado]
        notas:
          type: string
    PaginatedMentorias:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Mentoria'
        pagination:
          $ref: '#/components/schemas/Pagination'
    LiveEventoBase:
      type: object
      properties:
        titulo:
          type: string
        descricao:
          type: string
        apresentador:
          type: string
        inicio:
          type: string
          format: date-time
        fim:
          type: string
          format: date-time
        linkStream:
          type: string
          format: uri
        replayUrl:
          type: string
          format: uri
        capacidade:
          type: integer
        status:
          type: string
          enum: [rascunho, publicado, encerrado]
        tags:
          type: array
          items:
            type: string
    LiveEvento:
      allOf:
        - $ref: '#/components/schemas/LiveEventoBase'
        - type: object
          properties:
            id:
              type: string
            inscritosAtuais:
              type: integer
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
    LiveEventoInput:
      allOf:
        - $ref: '#/components/schemas/LiveEventoBase'
        - type: object
          required:
            - titulo
            - inicio
            - fim
            - apresentador
    LiveEventoUpdate:
      $ref: '#/components/schemas/LiveEventoBase'
    PaginatedLives:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LiveEvento'
        pagination:
          $ref: '#/components/schemas/Pagination'
    LiveInscricao:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        status:
          type: string
          enum: [confirmada, aguardando, cancelada]
        inscritoEm:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    LiveInscricaoInput:
      type: object
      required:
        - userId
      properties:
        userId:
          type: string
        status:
          type: string
          enum: [confirmada, aguardando]
    LiveInscricaoUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [confirmada, aguardando, cancelada]
    MaterialBibliotecaBase:
      type: object
      properties:
        titulo:
          type: string
        descricao:
          type: string
        formato:
          type: string
          enum: [pdf, video, audio, checklist, modelo]
        arquivoUrl:
          type: string
          format: uri
        linkExterno:
          type: string
          format: uri
          nullable: true
        thumbnailUrl:
          type: string
          format: uri
          nullable: true
        duracaoMinutos:
          type: integer
          minimum: 0
          nullable: true
        disciplinaIds:
          type: array
          items:
            type: string
        assuntoIds:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            type: string
        destaque:
          type: boolean
        publicadoEm:
          type: string
          format: date-time
          nullable: true
    MaterialBiblioteca:
      allOf:
        - $ref: '#/components/schemas/MaterialBibliotecaBase'
        - type: object
          properties:
            id:
              type: string
            status:
              type: string
              enum: [rascunho, publicado, arquivado]
            autor:
              type: object
              properties:
                id:
                  type: string
                nome:
                  type: string
            downloads:
              type: integer
            visualizacoes:
              type: integer
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
    MaterialBibliotecaInput:
      allOf:
        - $ref: '#/components/schemas/MaterialBibliotecaBase'
[...]
